@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img {
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}

/* Tablet */
@media (max-width: 992px) {
    .hero-img {
        height: 300px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .hero-img {
        height: 200px;
    }
}


.collapse:not(.show) {
    display: none !important;
}
.collapse.show {
    display: block !important;
}
/* Fix konflik Tailwind + Bootstrap navbar */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
    }
}

