@tailwind base;
@tailwind components;
@tailwind utilities;4

.hero-img {
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}


/* Tablet */
@media (max-width: 992px) {
    .hero-img {
        height: 300px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .hero-img {
        height: 200px;
    }
}

